<div class="inner-container half group">
	<div class="box-hold group">
		<article class="post-6 page type-page status-publish hentry entry box" id="post-6">
			<div class="entry-intro">
				<h1>What are you looking for?</h1>
			</div>
			<div class="entry-content group">

				<h2>
					Post your question and get people to find what you are looking for
				</h2>

				<%= render :partial => 'question' %>

			</div>

			<div class="social-share group">

			</div>

		</article>
	</div>
	<!-- .box-hold -->
</div>