<div id="entry-listing" class="group">
	<article class="entry box isotope-item" id="intro">
		<div class="entry-content-cnt">
			<aside class="widget widget_ci_about_widget group">
				<h3 class="widget-title">What is find similiar??</h3>

				<div class="widget_about group">
					<!--<img alt="about me" class="alignleft" src="images/dummy/me.jpg"> -->
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lorem quam, gravida elementum nibh ut, scelerisque congue lectus. Sed dapibus elementum diam. Fusce malesuada iaculis velit, sollicitudin posuere elit vehicula vitae. Duis ut placerat erat, sed auctor est. Nulla lacinia magna sed sagittis malesuada. Praesent ac facilisis nisl, a semper odio. Mauris accumsan, risus et placerat rutrum, leo tellus dignissim metus, non mattis tortor nisi luctus metus.
					</p>

					<p>
						Try us out!
					</p>
				</div>
			</aside>

			<aside class="widget widget_ci_twitter_widget group">
				<h3 class="widget-title">Recent tweets</h3>

				<div id="twitter_update_list">
					<ul>
						<li>
							<span>@<a href="#">handle</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere tortor :)</span><a href="#" class="twitter-time">about 6 hours ago</a>
						</li>

						<li>
							<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere tortor. <a href="#">http://www.example.com</a></span><a href="#" class="twitter-time">about 11 hours ago</a>
						</li>
					</ul>
				</div>
			</aside>
		</div>
	</article><!-- #intro -->
	
	<%= render :partial => 'questionlist' %>
</div>
