<div id="entry-listing" class="group">
	<article class="entry box isotope-item" id="intro">
		<div class="entry-content-cnt">
			<aside class="widget widget_ci_about_widget group">
				<h3 class="widget-title">What is find similiar??</h3>

				<div class="widget_about group">
					<!--<img alt="about me" class="alignleft" src="images/dummy/me.jpg"> -->
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lorem quam, gravida elementum nibh ut, scelerisque congue lectus. Sed dapibus elementum diam. Fusce malesuada iaculis velit, sollicitudin posuere elit vehicula vitae. Duis ut placerat erat, sed auctor est. Nulla lacinia magna sed sagittis malesuada. Praesent ac facilisis nisl, a semper odio. Mauris accumsan, risus et placerat rutrum, leo tellus dignissim metus, non mattis tortor nisi luctus metus.
					</p>

					<p>
						Try us out!
					</p>
				</div>
			</aside>

			<aside class="widget widget_ci_twitter_widget group">
				<h3 class="widget-title">Recent tweets</h3>

				<div id="twitter_update_list">
					<ul>
						<li>
							<span>@<a href="#">handle</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere tortor :)</span><a href="#" class="twitter-time">about 6 hours ago</a>
						</li>

						<li>
							<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere tortor. <a href="#">http://www.example.com</a></span><a href="#" class="twitter-time">about 11 hours ago</a>
						</li>
					</ul>
				</div>
			</aside>
		</div>
	</article><!-- #intro -->

	<article id="post-215" class="post-215 category-people category-photography category-pretty-girls entry box format-image">
		
		<div class="entry-content-cnt">
			<div class="entry-content">
				<a href="images/dummy/Fotolia_34084826_Subscription_XL-680x1024.jpg" class="thumb" data-lightbox="fancybox[215]" title=""><img src="/assets/500x752.jpg" class="attachment-ci_listing_thumb" alt="High fashion model in autumn/winter clothes wearing sunglasses" title="High fashion model in autumn/winter clothes wearing sunglasses"></a>
			</div>
		</div>

		<div class="entry-desc">
			<h1><a href="#" title="Permalink to High fashion model in autumn/winter clothes wearing sunglasses.">High fashion model in autumn/winter clothes wearing sunglasses.</a></h1>
<h1 style="text-align: right"><a href="#" title="Permalink to High fashion model in autumn/winter clothes wearing sunglasses.">Price willing $29.99</a></h1>
			<div class="entry-meta group">
				<a class="comments-no" href="#">4</a><a data-post-id="215" class="heart-this loved" href="#" title="You love this."><span class="heart-no">7</span></a><a class="entry-permalink" href="#" title="Permalink to High fashion model in autumn/winter clothes wearing sunglasses.">High fashion model in autumn/winter clothes wearing sunglasses.</a>
			</div>
		</div>
	</article>

	<article id="post-210" class="post-210 category-blog-posts entry box format-image">
		<div class="entry-content-cnt">
			<div class="entry-content">
				<a href="images/dummy/res8-1024x674.jpg" class="thumb" data-lightbox="fancybox[210]" title=""><img src="/assets/500x306.jpg" class="attachment-ci_listing_thumb" alt="Swimming pool at the modern luxury villa, Crete, Greece" title="Swimming pool at the modern luxury villa, Crete, Greece"></a>
			</div>
		</div>

		<div class="entry-desc">
			<h1><a href="#" title="Permalink to Swimming pool at the modern luxury villa, Crete, Greece.">Swimming pool at the modern luxury villa, Crete, Greece.</a></h1>

			<div class="entry-meta group">
				<a class="comments-no" href="#">3</a><a data-post-id="210" class="heart-this loved" href="#" title="You love this."><span class="heart-no">8</span></a><a class="entry-permalink" href="#" title="Permalink to Swimming pool at the modern luxury villa, Crete, Greece.">Swimming pool at the modern luxury villa, Crete, Greece.</a>
			</div>
		</div>
	</article>

	<article id="post-207" class="post-207 category-people category-photography entry box format-image">
		<div class="entry-content-cnt">
			<div class="entry-content">
				<a href="images/dummy/res21-605x1024.jpg" class="thumb" data-lightbox="fancybox[207]" title=""><img src="/assets/500x845.jpg" class="attachment-ci_listing_thumb" alt="res21" title="res21"></a>
			</div>
		</div>

		<div class="entry-desc">
			<h1><a href="#" title="Permalink to Hey, I&#8217;m flying in a Windows wallpaper!">Hey, I&#8217;m flying in a Windows wallpaper!</a></h1>

			<div class="entry-meta group">
				<a class="comments-no" href="#">0</a><a data-post-id="207" class="heart-this loved" href="#" title="You love this."><span class="heart-no">4</span></a><a class="entry-permalink" href="#" title="Permalink to Hey, I&#8217;m flying in a Windows wallpaper!">Hey, I&#8217;m flying in a Windows wallpaper!</a>
			</div>
		</div>
	</article>

	<article id="post-203" class="post-203 category-landscapes category-photography entry box format-image">
		<div class="entry-content-cnt">
			<div class="entry-content">
				<a href="images/dummy/res12-1024x454.jpg" class="thumb" data-lightbox="fancybox[203]" title=""><img src="/assets/500x221.jpg" class="attachment-ci_listing_thumb" alt="res12" title="res12"></a>
			</div>
		</div>

		<div class="entry-desc">
			<h1><a href="#" title="Permalink to Beautiful little church.">Beautiful little church.</a></h1>

			<div class="entry-meta group">
				<a class="comments-no" href="#">0</a><a data-post-id="203" class="heart-this" href="#" title="Love this."><span class="heart-no">3</span></a><a class="entry-permalink" href="#" title="Permalink to Beautiful little church.">Beautiful little church.</a>
			</div>
		</div>
	</article>

	<article id="post-192" class="post-192 category-blog-posts entry box format-image">
		<div class="entry-content-cnt">
			<div class="entry-content">
				<a href="images/dummy/res11-1024x683.jpg" class="thumb" data-lightbox="fancybox[192]" title=""><img src="/assets/500x333.jpg" class="attachment-ci_listing_thumb" alt="A beautiful lady standing on the luxury hotel swimming pool views" title="A beautiful lady standing on the luxury hotel swimming pool views"></a>
			</div>
		</div>

		<div class="entry-desc">
			<h1><a href="#" title="Permalink to A beautiful lady standing on the luxury hotel swimming pool views.">A beautiful lady standing on the luxury hotel swimming pool views.</a></h1>

			<div class="entry-meta group">
				<a class="comments-no" href="#">0</a><a data-post-id="192" class="heart-this loved" href="#" title="You love this."><span class="heart-no">3</span></a><a class="entry-permalink" href="#" title="Permalink to A beautiful lady standing on the luxury hotel swimming pool views.">A beautiful lady standing on the luxury hotel swimming pool views.</a>
			</div>
		</div>
	</article>

	<article id="post-185" class="post-185 category-food entry box format-image">
		<div class="entry-content-cnt">
			<div class="entry-content">
				<a href="images/dummy/res3-682x1024.jpg" class="thumb" data-lightbox="fancybox[185]" title=""><img src="/assets/500x750.jpg" class="attachment-ci_listing_thumb" alt="Sweet fresh fruits in glass goblet with mint leaf" title="Sweet fresh fruits in glass goblet with mint leaf"></a>
			</div>
		</div>

		<div class="entry-desc">
			<h1><a href="#" title="Permalink to Sweet fresh fruits in glass goblet with mint leaf.">Sweet fresh fruits in glass goblet with mint leaf.</a></h1>

			<div class="entry-meta group">
				<a class="comments-no" href="#">0</a><a data-post-id="185" class="heart-this" href="#" title="Love this."><span class="heart-no">3</span></a><a class="entry-permalink" href="#" title="Permalink to Sweet fresh fruits in glass goblet with mint leaf.">Sweet fresh fruits in glass goblet with mint leaf.</a>
			</div>
		</div>
	</article>

	<article id="post-182" class="post-182 category-photography category-pretty-girls entry box format-image">
		<div class="entry-content-cnt">
			<div class="entry-content">
				<a href="images/dummy/res20-576x1024.jpg" class="thumb" data-lightbox="fancybox[182]" title=""><img src="/assets/500x887.jpg" class="attachment-ci_listing_thumb" alt="res20" title="res20"></a>
			</div>
		</div>

		<div class="entry-desc">
			<h1><a href="#" title="Permalink to Life on the beach is always happier!">Life on the beach is always happier!</a></h1>

			<div class="entry-meta group">
				<a class="comments-no" href="#">0</a><a data-post-id="182" class="heart-this loved" href="#" title="You love this."><span class="heart-no">8</span></a><a class="entry-permalink" href="#" title="Permalink to Life on the beach is always happier!">Life on the beach is always happier!</a>
			</div>
		</div>
	</article>

	<article id="post-177" class="post-177 category-food entry box format-image">
		<div class="entry-content-cnt">
			<div class="entry-content">
				<a href="images/dummy/res16-1024x685.jpg" class="thumb" data-lightbox="fancybox[177]" title=""><img src="/assets/500x333.jpg" class="attachment-ci_listing_thumb" alt="Meeresfrüchte Teller" title="Meeresfrüchte Teller"></a>
			</div>
		</div>

		<div class="entry-desc">
			<h1><a href="#" title="Permalink to Best recipe for yummy shrimps.">Best recipe for yummy shrimps.</a></h1>

			<div class="entry-meta group">
				<a class="comments-no" href="#">0</a><a data-post-id="177" class="heart-this" href="#" title="Love this."><span class="heart-no">0</span></a><a class="entry-permalink" href="#" title="Permalink to Best recipe for yummy shrimps.">Best recipe for yummy shrimps.</a>
			</div>
		</div>
	</article>

	<article id="post-173" class="post-173 category-blog-posts entry box format-image">
		<div class="entry-content-cnt">
			<div class="entry-content">
				<a href="images/dummy/res19-1024x1024.jpg" class="thumb" data-lightbox="fancybox[173]" title=""><img src="/assets/500x500.jpg" class="attachment-ci_listing_thumb" alt="rocket launch" title="rocket launch"></a>
			</div>
		</div>

		<div class="entry-desc">
			<h1><a href="#" title="Permalink to There&#8217;s something about space travel&#8230;">There&#8217;s something about space travel&#8230;</a></h1>

			<div class="entry-meta group">
				<a class="comments-no" href="#">0</a><a data-post-id="173" class="heart-this loved" href="#" title="You love this."><span class="heart-no">2</span></a><a class="entry-permalink" href="#" title="Permalink to There&#8217;s something about space travel&#8230;">There&#8217;s something about space travel&#8230;</a>
			</div>
		</div>
	</article>

	<article id="post-170" class="post-170 category-blog-posts entry box format-image">
		<div class="entry-content-cnt">
			<div class="entry-content">
				<a href="images/dummy/res22-794x1024.jpg" class="thumb" data-lightbox="fancybox[170]" title=""><img src="/assets/500x644.jpg" class="attachment-ci_listing_thumb" alt="res22" title="res22"></a>
			</div>
		</div>

		<div class="entry-desc">
			<h1><a href="#" title="Permalink to NBA season starting soon. Which side are you on?">NBA season starting soon. Which side are you on?</a></h1>

			<div class="entry-meta group">
				<a class="comments-no" href="#">0</a><a data-post-id="170" class="heart-this" href="#" title="Love this."><span class="heart-no">2</span></a><a class="entry-permalink" href="#" title="Permalink to NBA season starting soon. Which side are you on?">NBA season starting soon. Which side are you on?</a>
			</div>
		</div>
	</article>

	<article id="post-166" class="post-166 category-photography category-pretty-girls entry box format-image">
		<div class="entry-content-cnt">
			<div class="entry-content">
				<a href="images/dummy/res15-1024x682.jpg" class="thumb" data-lightbox="fancybox[166]" title=""><img src="/assets/500x333.jpg" class="attachment-ci_listing_thumb" alt="Beautiful woman" title="Beautiful woman"></a>
			</div>
		</div>

		<div class="entry-desc">
			<h1><a href="#" title="Permalink to Beautiful lady">Beautiful lady</a></h1>

			<div class="entry-meta group">
				<a class="comments-no" href="#">0</a><a data-post-id="166" class="heart-this" href="#" title="Love this."><span class="heart-no">3</span></a><a class="entry-permalink" href="#" title="Permalink to Beautiful lady">Beautiful lady</a>
			</div>
		</div>
	</article>

	<article id="post-110" class="post-110 category-blog-posts entry box format-image">
		<div class="entry-content-cnt">
			<div class="entry-content">
				<a href="images/dummy/Depositphotos_2494806_L.jpg" class="thumb" data-lightbox="fancybox[110]" title=""><img src="/assets/500x333.jpg" class="attachment-ci_listing_thumb" alt="Woman with a camera taking photos" title="Woman with a camera taking photos"></a>
			</div>
		</div>

		<div class="entry-desc">
			<h1><a href="#" title="Permalink to Photographer">Photographer</a></h1>

			<div class="entry-meta group">
				<a class="comments-no" href="#">0</a><a data-post-id="110" class="heart-this loved" href="#" title="You love this."><span class="heart-no">9</span></a><a class="entry-permalink" href="#" title="Permalink to Photographer">Photographer</a>
			</div>
		</div>
	</article>

	<article id="post-84" class="post-84 category-photography category-pretty-girls entry box format-image">
		<div class="entry-content-cnt">
			<div class="entry-content">
				<a href="images/dummy/set2b-540x500.jpg" class="thumb" data-lightbox="fancybox[84]" title=""><img src="/assets/500x500.jpg" class="attachment-ci_listing_thumb" alt="set2b-540x500" title="set2b-540x500"></a>
			</div>
		</div>

		<div class="entry-desc">
			<h1><a href="#" title="Permalink to Pretty girl, colorful hair.">Pretty girl, colorful hair.</a></h1>

			<div class="entry-meta group">
				<a class="comments-no" href="#">0</a><a data-post-id="84" class="heart-this" href="#" title="Love this."><span class="heart-no">3</span></a><a class="entry-permalink" href="#" title="Permalink to Pretty girl, colorful hair.">Pretty girl, colorful hair.</a>
			</div>
		</div>
	</article>

	<article id="post-74" class="post-74 category-food entry box format-image">
		<div class="entry-content-cnt">
			<div class="entry-content">
				<a href="images/dummy/1393594_21698308-1024x682.jpg" class="thumb" data-lightbox="fancybox[74]" title=""><img src="/assets/500x333.jpg" class="attachment-ci_listing_thumb" alt="1393594_21698308" title="1393594_21698308"></a>
			</div>
		</div>

		<div class="entry-desc">
			<h1><a href="#" title="Permalink to Yummy cheeseburger recipe.">Yummy cheeseburger recipe.</a></h1>

			<div class="entry-meta group">
				<a class="comments-no" href="#">0</a><a data-post-id="74" class="heart-this loved" href="#" title="You love this."><span class="heart-no">5</span></a><a class="entry-permalink" href="#" title="Permalink to Yummy cheeseburger recipe.">Yummy cheeseburger recipe.</a>
			</div>
		</div>
	</article>

</div><!-- #entry-listing -->

<div class="nav">
	<a id="nextpage" href="content1.html">Next Page</a>
</div>